.ax_default {
  font-family:'Arial Normal', 'Arial', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:13px;
  letter-spacing:normal;
  color:#333333;
  vertical-align:none;
  text-align:center;
  line-height:normal;
  text-transform:none;
}
._一级标题 {
  font-family:'Arial Normal', 'Arial', sans-serif;
  font-weight:bold;
  font-style:normal;
  font-size:32px;
  text-align:left;
}
._二级标题 {
  font-family:'Arial Normal', 'Arial', sans-serif;
  font-weight:bold;
  font-style:normal;
  font-size:24px;
  text-align:left;
}
._三级标题 {
  font-family:'Arial Normal', 'Arial', sans-serif;
  font-weight:bold;
  font-style:normal;
  font-size:18px;
  text-align:left;
}
._四级标题 {
  font-family:'Arial Normal', 'Arial', sans-serif;
  font-weight:bold;
  font-style:normal;
  font-size:14px;
  text-align:left;
}
._五级标题 {
  font-family:'Arial Normal', 'Arial', sans-serif;
  font-weight:bold;
  font-style:normal;
  text-align:left;
}
._六级标题 {
  font-family:'Arial Normal', 'Arial', sans-serif;
  font-weight:bold;
  font-style:normal;
  font-size:10px;
  text-align:left;
}
.bg-new-left {
}
.bg-new-left-hover {
}
.bg-new-right {
}
.bg-new-right-hover {
}
.bg-new-primary-left {
}
.bg-new-primary-left-hover {
}
.bg-new-primary-right {
}
.bg-new-primary-right-hover {
}
.bg-new-__ {
}
._默认标题 {
  color:#333333;
}
._默认bg {
  font-family:'FontAwesome', sans-serif;
  font-weight:400;
  font-style:normal;
}
.__click {
}
._默认bg阴影 {
}
._默认边框 {
}
._禁用-通用bg {
}
.fontawesome4_7 {
  font-family:'FontAwesome', sans-serif;
  font-weight:400;
  font-style:normal;
}
.fontawesome5_0_free {
  font-family:'Font Awesome 5 Free ', 'Font Awesome 5 Free', sans-serif;
  font-weight:400;
  font-style:normal;
}
.fontawesome5_0_pro {
  font-family:'Font Awesome 5 Pro', sans-serif;
  font-weight:400;
  font-style:normal;
}
.font-bold {
  font-family:'Arial Normal', 'Arial', sans-serif;
  font-weight:bold;
  font-style:normal;
}
.font-white {
  color:#FFFFFF;
}
.font-black1 {
  color:#333333;
}
.font-black2 {
  color:#000000;
}
.font-black3 {
  color:#666666;
}
.font-grey1 {
  color:#BEBEBE;
}
.font-grey2 {
  color:#E8E8E8;
}
.font-grey3 {
  color:#797979;
}
.font-grey4 {
  color:#F2F2F2;
}
.font-blue1 {
  color:#409EFF;
}
.font-blue2 {
  color:#00CFFF;
}
.font-blue3 {
  color:#0000FF;
}
.font-blue4 {
  color:#ECF5FF;
}
.font-red1 {
  color:#FF0000;
}
.font-red2 {
  color:#FF6666;
}
.font-red3 {
  color:#A30014;
}
.font-red4 {
  color:#FEF0F0;
}
.font-orange1 {
  color:#FF8C00;
}
.font-orange2 {
  color:#FFD700;
}
.font-orange3 {
  color:#EE9A00;
}
.font-orange4 {
  color:#FDF6EC;
}
.font-green1 {
  color:#00FF00;
}
.font-green2 {
  color:#00FF7F;
}
.font-green3 {
  color:#008B00;
}
.font-green4 {
  color:#F0F9EB;
}
.font-purple1 {
  color:#9B30FF;
}
.font-purple2 {
  color:#FF00FF;
}
.font-purple3 {
  color:#551A8B;
}
.font-purple4 {
  color:#FFE1FF;
}
.font-yellow1 {
  color:#FFFF00;
}
.font-yellow2 {
  color:#EEEE00;
}
.font-yellow3 {
  color:#CDCD00;
}
.font-yellow4 {
  color:#FFFFE0;
}
.box_1 {
}
._默认样式 {
}
._文本链接 {
  color:#409EFF;
}
._链接按下 {
}
._链接悬停 {
  color:#66B1FF;
}
.border-default {
  color:#AAAAAA;
}
.fontawsome4_7-hover {
  font-family:'FontAwesome', sans-serif;
  font-weight:400;
  font-style:normal;
  color:#0079FE;
}
._禁用-通用仅文字 {
  color:#D7D7D7;
}
.font-underline {
}
.font-primary {
  color:#409EFF;
}
.font-success {
  color:#3FB837;
}
.font-warming {
  color:#FF8C00;
}
.font-danger_error_ {
  color:#FF5555;
}
.bg_primary-select {
  font-family:'FontAwesome', sans-serif;
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
.primary-default {
  font-family:'FontAwesome', sans-serif;
  font-weight:400;
  font-style:normal;
  color:#409EFF;
}
.primary-border {
  font-family:'FontAwesome', sans-serif;
  font-weight:400;
  font-style:normal;
  color:#409EFF;
}
.bg_success-select {
  font-family:'FontAwesome', sans-serif;
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
.success-default {
  font-family:'FontAwesome', sans-serif;
  font-weight:400;
  font-style:normal;
  color:#3FB837;
}
.success-border {
  font-family:'FontAwesome', sans-serif;
  font-weight:400;
  font-style:normal;
  color:#3FB837;
}
.bg_warming-select {
  font-family:'FontAwesome', sans-serif;
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
.warming-default {
  font-family:'FontAwesome', sans-serif;
  font-weight:400;
  font-style:normal;
  color:#E6A23C;
}
.warming-border {
  font-family:'FontAwesome', sans-serif;
  font-weight:400;
  font-style:normal;
  color:#E6A23C;
}
.bg_danger_error_-select {
  font-family:'FontAwesome', sans-serif;
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
.danger-default {
  font-family:'FontAwesome', sans-serif;
  font-weight:400;
  font-style:normal;
  color:#FF5555;
}
.danger-border {
  font-family:'FontAwesome', sans-serif;
  font-weight:400;
  font-style:normal;
  color:#FF5555;
}
.bg_info-select {
  font-family:'FontAwesome', sans-serif;
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
.info-default {
  font-family:'FontAwesome', sans-serif;
  font-weight:400;
  font-style:normal;
  color:#BBBBBB;
}
.info-border {
  font-family:'FontAwesome', sans-serif;
  font-weight:400;
  font-style:normal;
  color:#999999;
}
.info-border-tran {
  font-family:'FontAwesome', sans-serif;
  font-weight:400;
  font-style:normal;
  color:#999999;
}
.info-border-white {
  color:#FFFFFF;
}
.bg-trans {
}
.bg-white {
  color:#AAAAAA;
}
.bg-black1 {
  font-family:'FontAwesome', sans-serif;
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
.bg-black2 {
  color:#FFFFFF;
}
.bg-black3 {
  color:#FFFFFF;
}
.bg-black4 {
  color:#FFFFFF;
}
.bg-blue1 {
  color:#FFFFFF;
}
.bg-blue2 {
  color:#FFFFFF;
}
.bg-blue3 {
  color:#FFFFFF;
}
.bg-blue4 {
  color:#409EFF;
}
.bg-blue5 {
  color:#FFFFFF;
}
.bg-green1 {
  color:#FFFFFF;
}
.bg-green2 {
  color:#FFFFFF;
}
.bg-green3 {
  color:#FFFFFF;
}
.bg-green4 {
  color:#00FF00;
}
.bg-orange1 {
  color:#FFFFFF;
}
.bg-orange2 {
  color:#FFFFFF;
}
.bg-orange3 {
  color:#FFFFFF;
}
.bg-orange4 {
  color:#FF8C00;
}
.bg-red1 {
  color:#FFFFFF;
}
.bg-red2 {
  color:#FFFFFF;
}
.bg-red3 {
  color:#FFFFFF;
}
.bg-grey1 {
  color:#FFFFFF;
}
.bg-grey2 {
  color:#AAAAAA;
}
.bg-grey3 {
  color:#FFFFFF;
}
.bg-grey4 {
  color:#BEBEBE;
}
.bg-grey5 {
  color:#FFFFFF;
}
.bg-red4 {
  color:#FF2025;
}
.bg-purple1 {
  color:#FFFFFF;
}
.bg-purple2 {
  color:#FFFFFF;
}
.bg-purple3 {
  color:#FFFFFF;
}
.bg-purple4 {
  color:#9B30FF;
}
.bg-yellow1 {
  color:#F59A23;
}
.bg-yellow2 {
  color:#FFFFFF;
}
.bg-yellow3 {
  color:#FFFFFF;
}
.bg-yellow4 {
  color:#F59A23;
}
.__hover-line {
  color:#0079FE;
}
.ico-middle4_7-hover {
  font-family:'FontAwesome', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#0079FE;
  text-align:center;
}
._文本链接_文字按钮_ {
  font-family:'FontAwesome', sans-serif;
  font-weight:400;
  font-style:normal;
}
.bg-primary {
  color:#FFFFFF;
}
.info-click {
  font-family:'FontAwesome', sans-serif;
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
.info-disable {
  font-family:'FontAwesome', sans-serif;
  font-weight:400;
  font-style:normal;
  color:#999999;
}
.line {
}
.droplist {
  font-family:'FontAwesome', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#797979;
  text-align:left;
}
.droplist-hover {
  font-family:'FontAwesome', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#0079FE;
  text-align:left;
}
.radio_button {
  font-family:'FontAwesome', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#797979;
  text-align:left;
}
.radio_button-on {
  font-family:'FontAwesome', sans-serif;
  font-weight:400;
  font-style:normal;
  color:#0079FE;
  text-align:left;
}
.ico-wait {
  font-family:'FontAwesome', sans-serif;
  font-weight:400;
  font-style:normal;
  color:#D7D7D7;
  text-align:center;
  line-height:36px;
}
.label-左_强调_ {
  font-family:'FontAwesome', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#333333;
  text-align:left;
}
.label-右_强调_ {
  font-family:'FontAwesome', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#333333;
  text-align:right;
}
.label-左_默认_ {
  font-family:'FontAwesome', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#AAAAAA;
  text-align:left;
}
.label-_ {
  font-family:'FontAwesome', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#AAAAAA;
  text-align:right;
}
.danger-click {
  font-family:'FontAwesome', sans-serif;
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
.danger-disable {
  font-family:'FontAwesome', sans-serif;
  font-weight:400;
  font-style:normal;
  color:#F56C6C;
}
.primary-disable {
  font-family:'FontAwesome', sans-serif;
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
._提示文本 {
  font-family:'FontAwesome', sans-serif;
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
.ico-success {
  font-family:'FontAwesome', sans-serif;
  font-weight:400;
  font-style:normal;
  color:#19BE6B;
  text-align:center;
  line-height:36px;
}
.ico-small4_7-hover {
  font-family:'FontAwesome', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#0079FE;
  text-align:center;
}
.ico-small4_7 {
  font-family:'FontAwesome', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#AAAAAA;
  text-align:center;
}
.link_button-blue-hover {
  font-family:'FontAwesome Bold', 'FontAwesome Regular', 'FontAwesome', sans-serif;
  font-weight:normal;
  font-style:normal;
  color:#0079FE;
}
.seco {
  font-family:'FontAwesome', sans-serif;
  font-weight:400;
  font-style:normal;
  text-align:center;
}
.label {
}
.checkbox-on {
  font-family:'FontAwesome', sans-serif;
  font-weight:400;
  font-style:normal;
  color:#0079FE;
  text-align:left;
  line-height:40px;
}
.status_off {
  font-family:'FontAwesome', sans-serif;
  font-weight:400;
  font-style:normal;
  color:#7F7F7F;
}
.checkbox {
  font-family:'FontAwesome', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#797979;
  text-align:left;
  line-height:40px;
}
._文本段落 {
  text-align:left;
}
._文本链接1 {
  color:#0000FF;
}
.text_link_mouse_over {
}
.text_link_mouse_down {
}
.text_field-input {
  font-family:'FontAwesome', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#AAAAAA;
  text-align:left;
}
.text_field-input-hover {
  font-family:'FontAwesome', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#0079FE;
  text-align:left;
}
.ico-large4_7-hover {
  font-family:'FontAwesome', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:48px;
  color:#0079FE;
  text-align:center;
}
.ico-large5_0-pro-hover {
  font-family:'Font Awesome 5 Pro', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:48px;
  color:#0079FE;
  text-align:center;
}
.ico-large4_7 {
  font-family:'FontAwesome', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:48px;
  color:#AAAAAA;
  text-align:center;
}
.ico-middle4_7 {
  font-family:'FontAwesome', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#AAAAAA;
  text-align:center;
}
.warming-disable {
  font-family:'FontAwesome', sans-serif;
  font-weight:400;
  font-style:normal;
  color:#E6A23C;
}
._形状 {
  font-family:'Arial Normal', 'Arial', sans-serif;
  font-weight:400;
  font-style:normal;
  color:#333333;
}
._形状1 {
}
.image_ico {
}
.shape {
  color:#797979;
}
._二级标题-左 {
  font-family:'FontAwesome', sans-serif;
  font-weight:normal;
  font-style:normal;
  font-size:24px;
  color:#333333;
  text-align:left;
}
._图片 {
}
.form_disabled____ {
}
.form_hint_表单默认状态 {
  font-family:'FontAwesome', sans-serif;
  font-weight:400;
  font-style:normal;
  color:#AAAAAA;
  text-align:left;
}
.label-select {
  font-family:'FontAwesome', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#797979;
  text-align:center;
}
.______button-hover {
  font-family:'FontAwesome Bold', 'FontAwesome Regular', 'FontAwesome', sans-serif;
  font-weight:bold;
  font-style:normal;
}
.label1-line {
  font-family:'FontAwesome', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#AAAAAA;
  text-align:center;
}
.primary_button-hover {
  font-family:'FontAwesome Bold', 'FontAwesome Regular', 'FontAwesome', sans-serif;
  font-weight:normal;
  font-style:normal;
  color:#FFFFFF;
  line-height:18px;
}
.primary_button {
  font-family:'FontAwesome', sans-serif;
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
  text-align:center;
  line-height:18px;
}
.image {
}
.link_button-black-hover {
  font-family:'FontAwesome Bold', 'FontAwesome Regular', 'FontAwesome', sans-serif;
  font-weight:normal;
  font-style:normal;
  color:#333333;
}
.button-list-primary-hover {
  font-family:'FontAwesome', sans-serif;
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
.button-list-primary {
  font-family:'FontAwesome', sans-serif;
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
  text-align:center;
}
.bg-white-line {
  font-family:'FontAwesome', sans-serif;
  font-weight:400;
  font-style:normal;
}
.button-list-warning-hover {
  font-family:'FontAwesome', sans-serif;
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
.button-list-warning {
  font-family:'FontAwesome', sans-serif;
  font-weight:400;
  font-style:normal;
  color:#FE9400;
  text-align:center;
}
.button-list-delete-hover {
  font-family:'FontAwesome', sans-serif;
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
.button-list-delete {
  font-family:'FontAwesome', sans-serif;
  font-weight:400;
  font-style:normal;
  color:#F56C6C;
  text-align:center;
}
.button-list-second-hover {
  font-family:'FontAwesome', sans-serif;
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
.button-second {
  font-family:'FontAwesome', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#409EFF;
}
.button-list-pass-hover {
  font-family:'FontAwesome', sans-serif;
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
.button-list-pass {
  font-family:'FontAwesome', sans-serif;
  font-weight:400;
  font-style:normal;
  color:#19BE6B;
  text-align:center;
}
.button-list-other-hover {
  font-family:'FontAwesome', sans-serif;
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
  line-height:20px;
}
.button-list-other {
  font-family:'FontAwesome', sans-serif;
  font-weight:400;
  font-style:normal;
  color:#7F7F7F;
  text-align:center;
  line-height:20px;
}
.button-cancel-hover {
  font-family:'FontAwesome', sans-serif;
  font-weight:400;
  font-style:normal;
  color:rgba(170, 170, 170, 0.847058823529412);
}
.button-cancel {
  font-family:'FontAwesome', sans-serif;
  font-weight:400;
  font-style:normal;
  color:rgba(170, 170, 170, 0.847058823529412);
  text-align:center;
}
.text_area {
  font-family:'FontAwesome', sans-serif;
  font-weight:400;
  font-style:normal;
  color:#000000;
  text-align:left;
}
.input-hover {
  font-family:'微软雅黑 Regular', '微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  color:#0079FE;
  text-align:left;
}
.input {
  font-family:'微软雅黑 Regular', '微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  color:#AAAAAA;
  text-align:left;
}
.button-primary-hover {
  font-family:'FontAwesome', sans-serif;
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
.button-primary {
  font-family:'FontAwesome', sans-serif;
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
  text-align:center;
}
.button-second2-hover {
  font-family:'FontAwesome', sans-serif;
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
.button-second2 {
  font-family:'FontAwesome', sans-serif;
  font-weight:400;
  font-style:normal;
  color:#0079FE;
  text-align:center;
}
.ico-large5_0-pro {
  font-family:'Font Awesome 5 Pro', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:48px;
  color:#AAAAAA;
  text-align:center;
}
.button {
}
.link_button-grey-hover {
  font-family:'FontAwesome', sans-serif;
  font-weight:bold;
  font-style:normal;
  color:#797979;
}
.icon {
}
.label-value-ico {
  font-family:'FontAwesome', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#AAAAAA;
  text-align:left;
}
.ax-jsbox {
  font-family:'Menlo ', 'Menlo', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:rgba(255, 255, 255, 0.8);
  text-align:left;
}
._表单提示 {
  color:#999999;
}
._表单禁用 {
}
._流程形状 {
}
.ico-bg-white-hover {
  font-family:'FontAwesome', sans-serif;
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
  text-align:center;
  line-height:36px;
}
.ico-bg-white {
  font-family:'FontAwesome', sans-serif;
  font-weight:400;
  font-style:normal;
  color:#F2F2F2;
  text-align:center;
  line-height:36px;
}
.bg-title {
  font-family:'FontAwesome', sans-serif;
  font-weight:400;
  font-style:normal;
  color:#555555;
  text-align:left;
  line-height:28px;
}
.second_button-hover {
  font-family:'FontAwesome Bold', 'FontAwesome Regular', 'FontAwesome', sans-serif;
  font-weight:normal;
  font-style:normal;
  color:#FFFFFF;
  line-height:18px;
}
.second_button {
  font-family:'FontAwesome', sans-serif;
  font-weight:400;
  font-style:normal;
  color:#0079FE;
  text-align:center;
  line-height:18px;
}
.second_button-grey-hover {
  font-family:'FontAwesome Bold', 'FontAwesome Regular', 'FontAwesome', sans-serif;
  font-weight:normal;
  font-style:normal;
  color:#FFFFFF;
  line-height:18px;
}
.second_button-grey {
  font-family:'FontAwesome', sans-serif;
  font-weight:400;
  font-style:normal;
  color:#797979;
  text-align:center;
  line-height:18px;
}
.label-number-black {
  font-family:'FontAwesome Bold', 'FontAwesome Regular', 'FontAwesome', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#333333;
}
.connector {
  font-size:12px;
}
.form_disabled {
}
.line1 {
}
.ellipse {
}
.icon1 {
}
textarea, select, input, button { outline: none; }
